.box-prev-next {
  $size: 36px;
  $color: #ccc;
  width: $post-width;
  margin: 20px auto;
  a,
  .icon {
    display: inline-block;
  }
  a {
    text-align: center;
    line-height: $size;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    &.pull-left {
      .icon:before {
        margin-right: 0.28em !important;
      }
    }
    &.pull-right {
      .icon:before {
        margin-left: 0.28em !important;
      }
    }
    &.hide {
      display: none !important;
    }

    &.show {
      display: block !important;
    }

  }
  .icon {
    color: $color;
    font-size: 24px;
    &:hover {
      color: darken($color, 5%);
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .box-prev-next {
    width: $post-width;
  }
}

@media screen and (max-width: 1023px) {
  .box-prev-next {
    padding: 10px;
    width: 100%;
  }
}